main h2, main a, main h3{
    text-align: center;
    display: block;
}

main article, main p{
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 10px 0;
}

main .author-wrapper{
    text-align: center;
}

main .author-wrapper a{
    display: inline-block;
    color: gray;
}

form p{
    font-size: 1rem;
}
