article{
    text-align: center;
    margin: 40px auto;
}

article h2{
    margin: 0;
}

article .author{
    margin: 10px 0;
}

article a{
    text-decoration: none;
    color: black;
    display: inline-block;
}

article .author a{
    color: gray;
}

article a:hover{
    text-decoration: underline;
}

article .stats{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

article .stats span{
    font-size: 1rem;
    color: gray;
    margin: 0 5px;
}
