.container {
    max-width: 800px;
    margin: 0 auto;
}

h1{
    font-size: 2.5rem;
    line-height: 1;
}

h2{
    font-size: 1.5rem;
    line-height: 1;
}

h3{
    font-size: 1.25;
    line-height: 1;
}

p{
    font-size: 1rem;
    line-height: 1;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: black;
    text-decoration: none;
}

header p{
    text-align: center;
    margin-top: -1rem;
}

@media only screen and (min-width: 800px){
    header{
        flex-direction: row;
    }
}

.cta-button{
    color: white;
    font-weight: bold;
    background-color: red;
    text-decoration: none;
    padding: 10px;
    border: 0;
    cursor: pointer;
}

.back-button{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.required::after{
    content: "*";
    color: red;
}
