main p{
    text-align: center;
}

main .empty{
    color: gray;
}

article{
    text-align: center;
    margin: 30px auto;
}

article a{
    text-decoration: none;
    color: black;
}

article a:hover{
    text-decoration: underline;
}

article .stats{
    font-size: 1rem;
    color: gray;
}
