.container {
    max-width: 800px;
    margin: 0 auto;
}

h1{
    font-size: 2.5rem;
    line-height: 1;
}

h2{
    font-size: 1.25rem;
    line-height: 1;
}

p{
    font-size: 1rem;
    line-height: 1;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header p{
    text-align: center;
    margin-top: -1rem;
}

header button{
    margin: 20px 0;
    font-size: 1.1rem;
}

main p{
    text-align: center;
}

article{
    text-align: center;
    margin: 30px auto;
}

article .stats{
    font-size: 1rem;
    color: gray;
}

/* Desktop styles */

@media only screen and (min-width: 800px){
    header{
        flex-direction: row;
    }

    /* main p{
        text-align: left;
    }

    article{
        text-align: left;
    } */
}
