doctype html
html 
    head 
        title=title
        link(rel="stylesheet", type="text/css" href="css/global.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        block head
    body
        .container
            header 
                div 
                    a(href="/")
                        h1 YellFest
                    p Louder wins
                block header_right
            block content
