extends default

block append head
    link(rel="stylesheet", type="text/css" href="/css/fight.css")

block header_right
    a(href="/fights/new", class="cta-button") Start a fight

block content
    main

