extends default 

block append head
    link(rel="stylesheet", type="text/css" href="css/new.css")

block header_right
    h2 Creating new fight

block content
    form(action="/", method="POST")
        h3 Author
        .author
            label
                p Name
                input(name="name", placeholder=defaultAuthorName maxlength=30)
            label
                p Secret
                input(name="secret", maxlength=50, type="password")
        p Name + Secret: Your YellFest Identity
        h3 Thread
        label
            p.required Title
            input(name="title", maxlength=100, required)
        label
            p.required Body
            textarea(name="body", maxlength=2000, required)
        button(type="submit", class="cta-button") Post
